body{
  display:flex;
  flex-direction: column;
  min-width: 700px;   /*width of container and margin*/
}

.container{
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

#generator{
  margin: 15px auto;
  padding: 5px 6px;
}
